.main-div{
    background-color: darkblue;
    text-align: center;
    
}
.child-div{
    
}
.eachItem{
    display: inline-flex;
    background-color: darkgray;
    width: 15vw;
}
/* .showItems{
    display: inline-flex;
    background-color: darkgray;
    width: 15vw;
} */